:root {
    --Maintext:black;
    --secondtext: black;
    --link: black;
    --mainbackground:#eaeaea;    /* #eaeaea */
    --secondbackground:white;
    --border-color:rgb(10, 10, 10);
    --themeDotBorder:#c1c1c1;
    --shadow-colour: rgba(0,0,0,0.75);
}
body *{
    transition: 0.4s;
}
html, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,strong{
    color: var(--Maintext);
    font-family: 'Roboto Slab', serif;
    letter-spacing: 2px; 
}

p,li,span,label,input,textarea{
    color: var(--secondtext);
    font-family:'Roboto Mono', monospace;
}

a{
    text-decoration:none;
    color: var(--link)
}
ul{
    list-style: none;
}
.s1{
    background-color: var(--mainbackground);
    border-bottom: 1px solid var(--border-color);
    overflow: auto;
}
.s2{   
    background-color: var(--secondbackground);
    border-bottom: 1px solid var(--border-color);
    overflow: auto;
}

h1{font-size: 56px;}
h2{font-size: 36px;}
h3{font-size: 28px;}
h4{font-size: 24px;}
h5{font-size: 20px;}
h6{font-size: 16px;}

.main-container{
    width: 76vw;
    margin: 0 auto;
    scroll-snap-type: y mandatory;
}

.greeting{
    display: grid; 
    min-height: 10rem;
    justify-content: center;
    align-items: center; 
}
#hii-symbol{
    display: none;
}

@media (min-width: 720px) {
    .greeting h1 {
        display: inline-block;
        color: var(--Maintext);
        overflow: hidden; 
        border-right: .15rem solid var(--Maintext); 
        white-space: nowrap; 
        margin: 0 auto; 
        letter-spacing: .15rem;
        animation: 
          typing 3.5s steps(40, end) infinite alternate,
          blink-caret .75s step-end infinite normal;
    }

    #hii-symbol{
        display: inline;
    }
      
    /*typing effect  */
    @keyframes typing {
        from { width: 0; }
        to { width: 100%; }
      }
      
    /*typewriter cursor effect */
     @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: var(--Maintext); }
    }    
}

.nav-wrapper{
    border-radius: 8px 8px 0 0;   
    background-color:#e2e2e2;
    border: 1px solid var(--border-color);
    border-bottom-style: none;
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 0.2rem;
    -webkit-box-shadow: 0.0625rem 0.0625rem 0.1875rem 0.0625rem var(--shadow-colour); 
    -moz-box-shadow: 0.0625rem 0.0625rem 0.1875rem 0.0625rem var(--shadow-colour);
    box-shadow: 0.09325rem 0.0925rem 0.575rem var(--shadow-colour);
}
.dots-wrapper{
    display: flex;
    padding: 0.8rem;
}
.dots{
    background-color: black;
    height: 1.0rem;
    width: 1.0rem;
    border-radius: 50%;
    border: 1px solid var(--themeDotBorder) ;
    margin: 0.25rem;
}
#dot1{background-color: #FC6058;}
#dot2{background-color: yellow;}
#dot3{background-color: green;}

.navigation-link{
    margin-right: 0.7rem;
    list-style: none;
    font-size: 1.1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    align-content: start;
}

.navigation-link li{
    display: inline-block;
    margin: 0rem 0.5rem;
}
.navigation-link li:hover{
    scale: 1.2;
}

.intro{
    border-radius: 0px 0px 10px 10px;
    background-color: var(--secondbackground);
    border: 1px solid var(--border-color);
    display: grid;
    flex-wrap: wrap;
    flex-direction: row;
    grid-template-areas: 
    'left-column right-column';
    grid-template-columns: 1fr  1fr;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    -webkit-box-shadow: 0.0625rem 0.0625rem 0.1875rem 0.0625rem var(--shadow-colour); 
    -moz-box-shadow: 0.0625rem 0.0625rem 0.1875rem 0.0625rem var(--shadow-colour);
    box-shadow: .09325rem 0.0925rem 0.575rem var(--shadow-colour);
}

@media (max-width:900px){
    .intro{
        margin-bottom: 5rem;
        display: block;
    }
    .right-column{
        display: flex;
        justify-items: center;
        align-items: center;
    }
    .personal-box{
        margin: 2rem 2rem 2rem 2rem;
        -webkit-transition: none !important;
        -moz-transition: none !important;
        -o-transition: none !important;
        -ms-transition: none !important;
        transition: none !important;
        -webkit-transform: none !important;
        -moz-transform: none !important;
        -o-transform: none !important;
        -ms-transform: none !important;
        transform: none;
    }  
}

@media(min-width: 900px){
    .left-column{
        padding-bottom: 50px;
    }
    .personal-box{
        margin: 1rem 5rem 2rem 2rem;
    }
}

.left-column{
    grid-area: left-column;    
    padding-top: 50px;
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.right-column{
    grid-area: right-column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.personal-box{
    text-align: center;
    overflow: auto;
    border: 1px solid var(--border-color);
    -webkit-box-shadow: 0.625rem 0.625rem 0.3125rem 0px rgba(0, 0, 0, 0.75); 
    -moz-box-shadow: 0.625rem 0.625rem 0.3125rem 0px rgba(0, 0, 0, 0.75); 
    box-shadow: 0.625rem 0.625rem 0.3125rem 0px rgba(0, 0, 0, 0.75);     
    --factor: -0.1; 
    --_angle: calc(.3*90deg*var(--factor));
    transform: perspective(400px) translateX(0px) rotateY(var(--_angle));
    transition: 1.2s;
}
.personal-box:hover {
    transform: perspective(400px) translate3d(10px , 10px , 10px) rotateY(calc(-.4*var(--_angle)));
}
.personal-intro{
    padding: 0.2rem 1.6rem;
}
.music{
    border-radius: 10%;
}
#profile-pic{
    display: block;
    position: relative;
    margin:0 auto ;
    z-index: 1111;  
    height: 15.625rem;
    width: 15.625rem;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    border: 2px solid var(--border-color);
    box-shadow: 0.0625rem 0.0625rem 1.125rem 0.125rem var(--shadow-colour);
}
.card {
    transition: transform 0.1s ease;
    transform-style: preserve-3d;
    will-change: transform;
}
.card:hover .card-content {
    transform: translateZ(12px);
}

#theme{
    display: flex;
    justify-content: center ;
}
.theme-dot{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: black;
    border: 2px solid var(--themeDotBorder);
    margin: 6px;
    -webkit-box-shadow: -1px 1px 3px -1px var(--shadow-colour);
    -moz-box-shadow: -1px 1px 3px -1px var(--shadow-colour);
    box-shadow: 0.5px 0.5px 2px 0.5px var(--shadow-colour);
    cursor: pointer; 
}
.theme-dot:hover{
    border-width: 5px;
}
#white-mode{
    background-color: white;
}
#blue-mode{
    background-color:#192734;
}
#green-mode{
    background-color:#78866b;
}
#dark-mode{
    background-color:#28282B;
}
#note{
    font-size: 12px;
    font-style: italic;
    text-align: center; 
    padding-top: 6px;
    padding-bottom: 12px;
}

#notes{
    font-size: 11px;
    font-style: italic;
    text-align: right; 
    padding-top: 6px;
    padding-bottom: 12px;
}
/* Intro CSS End */

/* Project CSS */
.project-main{
    margin-bottom: 4rem;
}
.project-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.project-first{
    display: flex;
    justify-content: center;
    padding: 2rem 3rem;
}
.project-second{
    display: flex;
    justify-content: center;
    padding: 2rem 3rem;
}
.project-third{
    display: flex;
    justify-content: center;
    padding: 2rem 3rem;
}
.project-card {
    width: 16rem;
    height: 20rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    transition: transform 1800ms;
    transform-style: preserve-3d;
    border: 1.6px solid var(--border-color);
}
.fa-solid{
    color: var(--Maintext);
}

.project-card:hover {
    cursor: pointer;
    transform: rotateX(28deg) rotateY(180deg) rotateZ(180deg);
}
.front, .back {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    position: absolute;
    box-shadow: 2px 2px 8px 2px var(--shadow-colour);
    backface-visibility: hidden;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
  }
.back {
    transform: rotateY(180deg) rotateZ(180deg);
}
.project-card-img {
    width: 100%;
    height: 72%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem 2rem 0 0;
}
.project-card-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 2rem 2rem;
    height: 30%;
    border-top: 1px solid var(--border-color);
    background-color: var(--secondbackground);
}
.project-card-desc{
    height: 68%;
    padding: 0.4rem 0.8rem;
    text-align: justify;
    font-size:smaller;
    overflow: hidden;
    border-bottom: 1px solid var(--border-color);
    border-radius: 2rem 2rem 0 0;
    background-color: var(--secondbackground);
}
  
.project-svg {
    width: 1.8rem;
    height: 1.8rem;
    transform: translateY(25%);
    fill: var(--Maintext)
}
.project-svg:hover{
    scale: 1.2;
}
.project-card-links{
    width: 100%;
    height: 32%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 2rem;
}

@media(max-width:376px){
    .project-card{
        width: 11rem;
        height: 15rem;
    }
}
/* Project CSS Ends */

/* Contact me section */

#contact-me{
    padding-top: 20px;
}
.contact-container{
    background-color: var(--mainbackground);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5rem;
    border: 1px solid var(--border-color);
    border-radius: 10px;
}

.contact-form{
    width: 50%;
    display: flex;
    justify-content: center;
}

.contact-box {
    width: 75%;  
    padding: 25px 0;
    padding-top: 40px;
    padding-left: 40px;
    /* background-color: red; */
}
  
.contact-box .user-box {
    position: relative;
}
  
.contact-box .user-box input {
    width: 80%;
    padding: 10px 0;
    font-size: 14px;
    letter-spacing: 1px;
    color: var(--Maintext);
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid var(--border-color);
    outline: none;
    background: transparent;
}
  
.contact-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 20px;
    letter-spacing: 1.5px;
    color: var(--Maintext);
    pointer-events: none;
    transition: .5s;
}
  
.contact-box .user-box input:focus ~ label,
.contact-box .user-box input:active ~ label,
.contact-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: var(--Maintext);
    font-size: 12px;
}
      
#form-button {
    margin: 25px 0px;
    margin-left: 25%;
    padding: 1.2em 2.5em;
    font-size: 12px;
    letter-spacing: 2.5px;
    color: var(--secondtext);
    background-color: var(--secondbackground);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
#form-button:hover {
    background-color: var(--mainbackground);
    box-shadow: 0px 3px 8px var(--shadow-colour);
    color: var(--secondtext);
    transform: translateY(-7px);
  }
  
#form-button:active {
    transform: translateY(-1px);
  }

.contact-map{
    text-align: center;
    width: 50%;
    padding: 40px 0;
}
#form-map{
    width: 60% ;
    height: 100%;
    border-radius: 10px;
}

@media (max-width: 767px){
    
.contact-container{
    display: block;
    text-align: center;
}

.contact-form{
    width: 100%;
}

.contact-box {
    width: 100%;  
    padding: 25px 0;
    padding-top: 40px;
    padding-left: 40px;
}
  
.contact-box .user-box {
    position: relative;
}
  
.contact-box .user-box input {
    width: 80%;
    padding: 10px 0;
    margin-right: 15%;
    font-size: 14px;
    letter-spacing: 1px;
    color: var(--Maintext);
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid var(--border-color);
    outline: none;
    background: transparent;
}
  
.contact-box .user-box label {
    position: absolute;
    top: 0;
    left: 0px;
    margin-left: 2.5%;
    padding: 10px 0;
    font-size: 20px;
    letter-spacing: 1.5px;
    color: var(--Maintext);
    pointer-events: none;
    transition: .5s;
}
  
.contact-box .user-box input:focus ~ label,
.contact-box .user-box input:active ~ label,
.contact-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: var(--Maintext);
    font-size: 12px;
}

#form-button {
    margin: 25px 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.2em 2.5em;
    font-size: 12px;
    letter-spacing: 2.5px;
    color: var(--secondtext);
    background-color: var(--secondbackground);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
#form-button:hover {
    background-color: var(--mainbackground);
    box-shadow: 0px 3px 8px var(--shadow-colour);
    color: var(--secondtext);
    transform: translateY(-7px);
  }
  
#form-button:active {
    transform: translateY(-1px);
  }

.contact-map{
    display: none;
}

}
 
@media (max-width: 426px){
    
    .contact-container{
        display: block;
        text-align: center;
    }
    
    .contact-form{
        width: 100%;
    }
    
    .contact-box {
        width: 100%;  
        padding: 30px 0;
        padding-left: 40px;
    }
      
    .contact-box .user-box {
        position: relative;
    }
      
    .contact-box .user-box input {
        width: 80%;
        padding: 10px 0;
        margin-right: 30px;
        font-size: 14px;
        letter-spacing: 1px;
        color: var(--Maintext);
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid var(--border-color);
        outline: none;
        background: transparent;
    }
      
    .contact-box .user-box label {
        position: absolute;
        top: 0;
        left: 0px;
        margin-left: 5.5%;
        padding: 10px 0;
        font-size: 20px;
        letter-spacing: 1.5px;
        color: var(--Maintext);
        pointer-events: none;
        transition: .5s;
    }
      
    .contact-box .user-box input:focus ~ label,
    .contact-box .user-box input:active ~ label,
    .contact-box .user-box input:valid ~ label {
        top: -20px;
        left: 0;
        color: var(--Maintext);
        font-size: 12px;
    }
    
    #form-button {
        margin: 25px 0px;
        margin-right: 12%;
        padding: 1.2em 2.5em;
        font-size: 12px;
        letter-spacing: 2.5px;
        color: var(--secondtext);
        background-color: var(--secondbackground);
        border: none;
        border-radius: 45px;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
      }
      
    #form-button:hover {
        background-color: var(--mainbackground);
        box-shadow: 0px 3px 8px var(--shadow-colour);
        color: var(--secondtext);
        transform: translateY(-7px);
      }
      
    #form-button:active {
        transform: translateY(-1px);
      }
    
    .contact-map{
        display: none;
    }
    
}
/* contact me ends */

/* Footer css*/
.footer{
    text-align: center;
    font-size: small;
    padding: 8px 0;
}
.footer-details{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#follow{
    margin-left: 10px;
    letter-spacing: 2.5px;
}
.fa-brands{
    margin: .5rem;
    color: var(--Maintext);
}
.fa-brands:hover{
    scale: 1.2;
    translate: 4px -10px;
}
/* footer css end */

/* Scroll Bar */
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--secondbackground); 
  }
  ::-webkit-scrollbar-thumb {
    background: var(--border-color); 
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #0f1b26; 
  }

  /* Scroll bar ends */

@media screen and (max-width: 1200px) {
    .main-container{
        width: 90%;
    }
}
